.buttons{
    font-family: 'Verdana';
    font-size: 20px;
    display: flex;
    width: 9em;
    height: 6em;
    margin-right: 3em;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-weight: 600;
    color: white;
    border-radius: 15px;
    border: none;
    transition: box-shadow 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.link {
    text-decoration: none;
  }

.buttons:hover {
    box-shadow: 0 0 10px 3px #7f7f7f;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}
.header {
    font-family: 'Futura', 'Trebuchet MS', sans-serif;
    display: flex;
    font-size: 22px;
    font-weight: 100;
    color: white;
    justify-content: flex-start;
    align-items: flex-start;
}

.basics-container {
    display: flex;
    text-decoration: none;
}


.intermediate-container {
    display: flex;
}

.buttons-container {
    display: flex;
    flex: 1;
    justify-content:flex-end;
    align-items:flex-end;
    flex-direction: column;
}


.background-inter {
    background-image: url("images/gradient-inter.png");
}

.background-basics {
    background-image: url("images/background-basics.png");
}

@media screen and(max-width: 480px) {
    .buttons {
        width: 4em;
        height: 2em;
        margin-right: 1em;
    }
    .header {
        font-size: 13px;
    }
}


@media screen  and (max-width: 768px) {
    .buttons {
        text-decoration: none;
        width: 6em;
        height: 4em;
        margin-right: 1.5em;
    }
    .header {
        font-size: 15px;
    }
}



@media screen and (max-width: 1400px) {
    .buttons {
        text-decoration: none;
        width: 8em;
        height: 6em;
        margin-right: 2em;
    }
    .header {
        font-size: 18px;
    }
}